html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Oswald', sans-serif; 
   
    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header{
   
   width: 100%;
   height: 150px;
   position: fixed;
   background-color: black;
   z-index: 1000;
   
}


.logo{
    position: absolute;
    padding: 33px;
}

.MENU .header h1{
    padding-top: 50px;
    padding-left: 230px;
    position: fixed;
    font-size: 50px;
    color: white;
    letter-spacing: 0.3em;
    font-family: 'Oswald', sans-serif;
   
    
}

.MENU .header h1:hover{
    color: darkgrey;
}



/* bouton*/



#toggle{
    display: none;
}

label{
    display: none;
}


.navigation ul{
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 30px;

}

.navigation ul li a{
    color: white;
    padding: 30px;
    display: flex;
    font-size: 20px;
    
}


.navigation ul li:hover a{
    color: darkgrey;
}


.grid{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}   

/* bouton*/

@media screen and (max-width: 1200px){.nav{
    
    text-align: right
}

  
    
.MENU .header h1{
  
    font-size: 40px;
    letter-spacing: 0.2em;
      
    
 }          
    
    
label{
    position: relative;
    float: right;
    padding: 30px;
    display: block;
    margin: 0 20px 0 0;
    font-size: 50px;
    color: white;
    line-height: 70px;
    cursor: pointer; 
    z-index: 100;
}


#toggle {
    
    display: none;
  
    
}

/* fond*/

.navigation{
    
    display: block;
    top:0;
    position: fixed;
    right:0;
    background-color:black;
    width: 20%;
    height: 100%;
    transition: all .8s;
    overflow: hidden;
    width: 0;
}


.navigation ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    
   
    
}

.navigation ul li{
    list-style:none;
    

}

.navigation ul li a{
    display: flex;
    color: white;
    text-transform: uppercase;
    font-size:30px;
    letter-spacing: 0.30em;
    white-space: nowrap;
    list-style:none;
    
}

.navigation ul li:hover a{
    color: darkgrey;
}

#toggle:checked + .navigation{

    width: 100%;
    z-index: 99
}


.nav > label:nth-child(1){
    z-index: 500;
}
 }

.grid{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    }

.box{
    grid-column: span 12;
    min-height: 100vh;
}

.avatar{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    
    
    
   

    

    
    
    
    
}

.texte{
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center;
}


@media screen and (max-width: 1200px){.texte{
       font-size: 25px; 
        
	}
}


.box2{
    grid-column: span 12;
    background-color: black;
    min-height: 105vh;
    
    
}

h1{
    font-size:80px;
    color: white;
    display:flex;
    justify-content: center;
    padding-top: 70px;
}

h2{
    font-size:80px;
    display:flex;
    justify-content: center;
    padding-top: 70px;
    
}

.icone{
    grid-column: span 12;
    padding-top: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image1{
     padding: 10px;
     max-width: 100%;
     height: auto;
}

.box3{
    grid-column: span 12;
    height: 85vh;
}    


.cv li a{
    color: black;
    font-size: 35px;
    display: flex;
    justify-content: center;
    list-style: none;
}


.cv li:hover a{
    color: deeppink;
    
    

    
    